name: Manual IP Country Script

on:
  workflow_dispatch:

permissions:
  contents: write   # 已设置为读写权限

jobs:
  run-script:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set PYTHONIOENCODING
        run: echo "PYTHONIOENCODING=utf-8" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dnspython requests

      - name: List files (debug)
        run: |
          dir
          dir CloudflareScanner

      - name: Run main script
        run: python DNS2Geo.py

      - name: Show outputs
        run: |
          dir ips
          dir ips_with_country
          dir CloudflareScanner
