name: IP 检测与处理脚本

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *' # 每3小时（UTC）

permissions:
  contents: write
  actions: write

jobs:
  run-script:
    runs-on: windows-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 检查 Python 环境
        run: python --version

      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          pip install dnspython requests

      - name: 设置 Python 控制台编码为 UTF-8
        run: echo PYTHONIOENCODING=utf-8 >> %GITHUB_ENV%
        shell: cmd

      - name: 检查 CloudflareScanner.exe 是否存在
        run: |
          if (!(Test-Path "CloudflareScanner\CloudflareScanner.exe")) {
            Write-Host "CloudflareScanner.exe 不存在"
          } else {
            Write-Host "CloudflareScanner.exe 存在"
          }
        shell: pwsh

      - name: 运行 DNS2Geo 脚本
        run: python DNS2Geo.py

      - name: 查看目录结构
        run: |
          Get-ChildItem -Recurse
        shell: pwsh

      - name: 上传结果文件
        uses: actions/upload-artifact@v4
        with:
          name: result-files
          path: |
            ips/
            ips_with_country/
            CloudflareScanner/ip.txt
